streamlit==1.23.1
numpy==1.21.6
scikit-learn==1.0.2
imbalanced-learn==0.7.0
xgboost==1.6.2
lightgbm==4.5.0
optuna==4.0.0
rdkit-pypi==2022.9.5
torch==1.13.1
torch-geometric==2.3.1
deepchem==2.7.1
